.feedback {
    height:55px;
}

.thumbnail {
    height: 256px;
    width: 256px;
}

.jumbotron {
    background-image: url("../images/OpportunityMars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

