.feedback {
    height:55px;
}
.thumbnail {
    height: 256px;
    width: 256px;
    margin-left: 10px;
    margin-right: 10px;
}
.jumbotron {
    background-image: url("../images/galecrater.png");
    background-size: cover;
    color: #eee;
    height: 600px;
}
form {
    background-color: transparent;
}
.jumbotron a {
    color: black;
}
.row-centered {
    text-align: center;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
}
.col-centered {
    float: none;
    display: inline-block;
}
.nasa_logo {
    margin-top: 50px;
}
#picGetterForm {
    padding-bottom: 20px;
}
#pic-results {
    margin-top: 25px;
    padding-top: 25px;
    background-color: #fff;
}
footer {
    background-color: #f9f9f9;
    text-align: center;
    border-top: 1px solid #533b27;
    bottom: 0;
    width: 100%;
    height: 35px;
}
.photo-info {
    height: 200px;
}

.img_boot {
    width: 75px;
    padding: 15px 15px;
}
.btn_new_styles {
}
.modal-content {
    color: #777;
}

body {
    background-color: #f5f5f5;
}
.start_wrap {
    margin-top: 25px;
    width: 42%;
}
.help-block {
    color: #eee;
    font-size: x-large;
}
.navbar-brand {
    font-size: 33px;
    font-family: 'Playfair Display', serif;
    color: #5a5752;
}
.bg-info {
    background-color: none;
}
.jumbotron p {
    font-size: 17px;
}
.img-rounded {
    display: inline-block;
}
.instruct_header {
}
.bg-warning {
    color: black;
}
.fa-angle-down {
    display: none;
}
.radio-inline {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}
.row_radios {
    margin-bottom: 25px;
}
.form-control {
    border-radius: 0px;
}
.btn {
    border-radius: 0px;
    font-family: 'Playfair Display', serif;
}
@media screen and (max-width: 680px) {
    .navbar-brand {
        font-size: 30px;
    }
    .img-rounded {
        width: 40%;
    }
    .form-control {
    border-radius: 0px;
    width: 60%;
    margin: 0 auto;
    }
    .radio-inline {
        display: block;
    }
}